.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    align-items: center;
    margin-top: 10rem;
}

.box {
    color: white;
}

.box1 {
    background: rgb(1, 96, 1);
    flex-basis: 5%;
    font-size: 2rem;
    text-align: center;
    padding: 15px;
}

.box2 {
    background: rgb(26, 167, 254);
    flex-basis: 15%;
    font-size: 5rem;
    padding: 15px;
    text-align: center;
}

.box3 {
    background: rgb(1, 54, 77);
    flex-basis: 30%;
    font-size: 12rem;
    padding: 15px;
    text-align: center;
}

.box4 {
    background: rgb(113, 1, 113);
    flex-basis: 15%;
    font-size: 5rem;
    padding: 15px;
    text-align: center;
}

.box5 {
    background: darkorange;
    flex-basis: 5%;
    font-size: 2rem;
    text-align: center;
    padding:15px;
}